/* Write your CSS here */
* {
  font-family: 'roboto';
}
.container {
  background-color: #93c5fd;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.head {
  font-size: 30px;
  font-weight: 300px;
}
#capital {
  padding: 5px;
}
label {
  color: #323f4b;
  font-size: 15px;
  margin-left: 8px;
  margin-top: 5px;
  font-weight: bold;
}
.Country {
  font-size: 18px;
  font-weight: 300px;
  text-align: start;
  font-weight: bold;
}
.input-capital {
  display: flex;
}
